
<ul class="social_footer">
  <li><a href="mailto:XXX@126.com"><i class="fa fa-envelope" aria-hidden="true"></a></li>
  {% if site.google_url %}
  <li><a href="{{ site.google_url }}" target="_blank"><i class="fa fa-google" aria-hidden="false"></i></a></li>
  {% else %}
  <li><a href="#" target="_blank"><i class="fa fa-google" aria-hidden="false"></i></a></li>      
  {% endif %}
  {% if site.twitter_url %}
  <li><a href="{{ site.twitter_url }}" target="_blank"><i class="fa fa-twitter" aria-hidden="false"></i></a></li>
  {% else %}
  <li><a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="false"></i></a></li>
  {% endif %}
  {% if site.instagram_url %}
  <li><a href="{{ site.instagram_url }}" target="_blank"><i class="fa fa-instagram" aria-hidden="false"></i></a></li>
  {% else %}
  <li><a href="#" target="_blank"><i class="fa fa-instagram" aria-hidden="false"></i></a></li>
  {% endif %}
  {% if site.pinterest_url %}
  <li><a href="{{ site.pinterest_url }}" target="_blank"><i class="fa fa-pinterest" aria-hidden="false"></i></a></li>
  {% else %}
  <li><a href="#" target="_blank"><i class="fa fa-pinterest" aria-hidden="false"></i></a></li>
  {% endif %}
  {% if site.dribbble_url %}
  <li><a href="{{ site.dribbble_url }}" target="_blank"><i class="fa fa-dribbble" aria-hidden="false"></i></a></li>
  {% else %}
  <li><a href="#" target="_blank"><i class="fa fa-dribbble" aria-hidden="false"></i></a></li>
  {% endif %}
  {% if site.facebook_url %}
  <li><a href="{{ site.facebook_url }}" target="_blank"><i class="fa fa-facebook" aria-hidden="false"></i></a></li>
  {% else %}
  <li><a href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="false"></i></a></li>
  {% endif %}
</ul>
